<br /><br />

<h1>Enregistrement effectué ! </h1>
<h3>Vous avez soumi les informations ci dessous</h3>
<h4>Nom : <%= @moussaillon.first_name %></h4>
<h4>Age : <%= @moussaillon.age %></h4>

<%= link_to 'Back', corsairs_path %>
